/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Fredoka", sans-serif;
    text-align: center;
    font-size: 1rem;
}

.container {
    width: 80%;
    margin: 0 auto;
    
}

h1{
    color: #e53170;
    font-size: 2rem;
    margin: 1em;
}

.row {
    margin-top: 1em;
}

.col{
    background-color: #0f0e17;
    float: left;
    width: calc(100% / 3 - 40px);
    padding: 0px;
    /* Debug */
    margin: 20px;
    text-align: left;
}

.float-left {
    float: left;
}

.card img {
    height: 100px;
    margin-right: 20px;
}

.info {
    text-align: left;
    padding: 20px;
}

.name,
.job {
    color: white;
}


.mail {
    color: #2dacdd;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

